// COLORS
$orange: #ffad00;
$blue: #008ecc;
$grey-dark: #2c2c2c;
$grey-medium: #7f7f7f;
$grey-light: #f2f2f2;
$white: #ffffff;
$red: #FF3F3F;
// FONT SIZES
$s: 0.75rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2.25rem;
// DEVICE BREAKPOINTS
$mobile: 768px;
$tablet: 960px;
// FONTS
@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/ubuntu-regular-webfont.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./../fonts/ubuntu-bold-webfont.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./../fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./../fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 700;
}

// MIXINS
@mixin flexBox($direction,
$justify-content,
$align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin circleIcon($size,
$proportion: 50%) {
    width: $size;
    height: $size;
    border-radius: 50%;
    @include flexBox(column,
    center,
    center);
    & img {
        width: $proportion;
        max-height: $proportion;
    }
}

@mixin transition($duration: 0.25s,
$properties...) {
    transition-property: $properties;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

// CSS RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::selection {
        background-color: $orange;
    }
}

:root {
    font: 400 $m "Roboto", sans-serif;
    line-height: 1.5;
    color: $grey-medium;
}

// TYPOGRAPHY
h1,
h2,
h3 {
    font-family: "Ubuntu", sans-serif;
    color: $grey-dark;
}

h1 {
    font-weight: 400;
    font-size: $xl;
    margin-bottom: $m;
    z-index: 1;
}

h2 {
    font-weight: 400;
    font-size: $l;
    margin-bottom: $s;
}

h3 {
    font-weight: 700;
    font-size: $m;
}

p {
    position: relative;
    z-index: 1;
}

a {
    font: 400 $m "Ubuntu", sans-serif;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: $grey-dark;
}